    .footer-email-form {
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            flex-direction: column;
            margin-top: 40px;
            margin-left: 150px;
            margin-right: 100px;
            text-align: center;
        }
        @media screen and (min-width: 1200px) {
            margin-right: -20px;
        }
    }
    
    .footer-submit__title {
        display: inline-block;
        margin-bottom: 21px;
        margin-top: 0px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: 767px) {
            margin-left: 73px;
        }
        @media screen and (max-width: 330px) {
            margin-left: 30px;
        }
    }
    
    .footer-submit input {
        padding: 15px 16px;
        margin-bottom: 35px;
        margin-right: -50px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.6);
        @media screen and (min-width: 767px) and (max-width: 1200px) {
            margin-right: 0px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 0px;
        }
    }
    
    .footer-submit .button {
        display: inline-flex;
        padding: 10px 29px;
        border: none;
    }
    
    .send {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
    
    .footer-submit_button {
        display: flex;
        align-items: center;
        padding: 10px 32px;
        min-width: 200px;
        font-weight: 700;
        font-size: 16px;
        margin-left: 12px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        color: $color-text;
        background-color: $color-link;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    .footer-item {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
            text-align: center;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin-left: 76px;
            text-align: center;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 60px;
        }
    }
    
    .studio-socials__item:not(:last-child) {
        margin-right: 10px;
    }
    
    .social-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $color-link;
        }
    }
    
    .studio-socials {
        display: flex;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    
    .icon--dark {
        width: 20px;
        height: 20px;
        fill: $color-text;
    }
    
    .studio-socials__title {
        display: inline-block;
        margin-bottom: 21px;
        margin-top: 0px;
        color: $color-text;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin-top: 5px;
        }
    }
    
    .footer-block--socials {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
            text-align: center;
            align-items: center;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin-left: 165px;
            text-align: center;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 46px;
        }
    }
    
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2f303a;
        @media (max-width: 400px) {
            min-height: 100vh;
        }
    }
    
    .container--flex {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        @media (min-width: 769px) and (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .contacts__item--footer:not(:last-child) {
        margin-bottom: 9px;
    }
    
    .contacts__link {
        color: $color-text;
        opacity: 60%;
        text-decoration: none;
        font-family: $font-family;
        font-size: $font-size;
        font-style: $font-style;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            color: $color-link;
        }
    }
    
    .footer-address {
        margin-top: 20px;
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: column;
        }
    }
    
    .footer-address__text {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: $color-text;
        font-family: $font-family;
        font-size: $font-size;
        font-style: $font-style;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
        &:focus,
        &:hover {
            color: $color-link;
        }
        @media (min-width: 769px) and (max-width: 1200px) {
            margin-bottom: 12px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 12px;
        }
    }