.footer-item {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 65px;
    }
}

.studio-socials__item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $color-link;
    }
}

.studio-socials {
    display: flex;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.icon--dark {
    width: 20px;
    height: 20px;
    fill: $color-text;
}

.studio-socials__title {
    display: inline-block;
    margin-bottom: 21px;
    margin-top: 0px;
    color: $color-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-block--socials {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        text-align: center;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-left: 70px;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.container--flex {
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

.contacts__item--footer:not(:last-child) {
    margin-bottom: 9px;
}

.contacts__link {
    color: $color-text;
    opacity: 60%;
    text-decoration: none;
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: $color-link;
    }
}

.footer-address {
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
    }
}

.footer-address__text {
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    &:focus,
    &:hover {
        color: $color-link;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer-block {
    @media screen and (max-width: 768px) {
        justify-content: space-around;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {}
}