    .team {}
    
    .section__team {
        color: $text;
        margin-bottom: 50px;
        font-size: 36px;
        font-style: $font-style;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.03em;
            font-weight: bold;
        }
    }
    
    .team-pfoto-social {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    
    .team-pfoto-social .team-pfoto-social__item:not(:last-child) {
        margin-right: 10px;
    }
    
    .social__item-block {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        fill: #AFB1B8;
        align-items: center;
        justify-content: center;
        transition-property: background, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $color-text;
            background-color: $color-link;
        }
    }
    
    .social__item-links {
        width: 20px;
        height: 20px;
    }
    
    .team-pfoto {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    
    .size {
        @media screen and (max-width: 767px) {
            width: 353px;
            height: 374px;
        }
    }
    
    .team-pfoto__item {
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc(100% / 4 - 30px);
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        position: relative;
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 1 * 30px) / 2);
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
        }
        @media screen and (min-width: 1200px) {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    
    .team-pfoto__card {
        padding: 30px;
        height: 162px;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        @media screen and (max-width: 767px) {
            width: 352px;
            margin-bottom: 30px;
        }
    }
    
    .team-pfoto__card-name {
        color: $text;
        font-family: $font-family;
        font-size: 16px;
        font-style: $font-style;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .team-pfoto__card-position {
        color: $color-p;
        font-family: $font-family;
        font-size: 16px;
        font-style: $font-style;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.03em;
        text-align: center;
    }
    
    .team {
        background-color: #f5f4fa;
        padding-top: 94px;
        padding-bottom: 94px;
    }