$color-link: #2196f3;
$text: #212121;
$color-text: #ffffff;
$color-p: #757575;
$color-label-light: #f5f4fa;
$color-btn: #188ce8;
$color-portfolio: #e5e5e5;
$color-name-logo: #000000;
$color-hero-section: #2f303a;
$client-block: #afb1b8;
$font-family: "Roboto",
sans-serif;
$font-size: 14px;
$font-style: normal;
$font-logo: "Raleway",
sans-serif;
$font-size-logo: 26px;
$main-font-size: 16px;
$font-size-h3: 18px;